@model vnexchange1.Models.Item

@{
    ViewData["Title"] = "Details";
}
<script>
    function thumbnailImage_Click(obj, src) {
        $(".thumbnail-active").removeClass("thumbnail-active");
        $(obj).addClass("thumbnail-active");
        $(".main-imgage:visible").attr("src", "/uploads/" + src);
    }
    $(function () {
        $("#rateit11").bind('over', function (event, value) { $(this).attr('title', value); });
    });

    //we bind only to the rateit controls within the products div
    $('#rateit11').bind('rated reset', function (e) {
        var ri = $(this);

        //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), we could check if e.type == 'reset', and then set the value to  null .
        var value = ri.rateit('value');

        //maybe we want to disable voting?
        ri.rateit('readonly', true);

        $.ajax({
            url: 'rateit.aspx', //your server side script
            data: { id: @Model.ItemId, value: value }, //our data
            type: 'POST',
            success: function (data) {
                $('#response').append('<li>' + data + '</li>');

            },
            error: function (jxhr, msg, err) {
                $('#response').append('<li style="color:red">' + msg + '</li>');
            }
        });
    });
</script>
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg text-center" style="">
                Khu vực quảng cáo
            </div>
            <br>
        </div>
        <!-- /.col -->
        <!-- /.col -->
    </div>
    <div style="padding: 20px 0px 0px 0px;">
        <a href="/">Trang chủ</a> <span id="spanSeperator">&gt;</span>
        @foreach (var item in ViewBag.BreadCrumb)
        {
            <a href="/items/@item.CategoryId">@item.CategoryName</a> <span id="spanSeperator">&gt;</span>
        }
        <span>@Model.ItemTitle</span>
    </div>
    <div class="main box-border" id="cknude" style="margin: 0px 0px 50px; padding: 0px 0px 30px 20px;">
        <h1 style="padding: 30px; font-size: 30px;">@Html.DisplayFor(model => model.ItemTitle)</h1>
        <div class="col-md-6">
            <div class="col-md-2">
                @if (Model.Images != null && Model.Images.Count > 0)
                {
                    foreach (var image in Model.Images)
                    {
                        <div onclick="thumbnailImage_Click(this, '@image.ImagePath');" class="thumbnail-normal @(@image.IsMainImage ? "thumbnail-active" : "")">
                            <img src="~/uploads/@image.ImagePath" alt="" style="float: left;">
                        </div>
                    }
                }
            </div>
            <div class="col-md-10">
                @if (Model.Images != null && Model.Images.Count > 0)
                {
                    <img src="~/uploads/@Model.Images.First().ImagePath" alt="" style="float: left;" class="main-imgage">
                }
                else
                {
                    <img src="default.jpg" alt="" style="float: left;" class="main-imgage">
                }

            </div>
            <div style="clear: both;"></div>
        </div>

        <div class="col-md-6">
            <div class="" style="padding: 20px 0px 0px 0px; width: 100%; clear: both;">
                <div class="caption" style="float: left; padding: 0px 0px 0px 20px;">
                    <p>
                        <strong>Đăng bởi:</strong> <a href="#" style="font-weight: bold;">@Html.DisplayFor(model => model.ItemOwner)</a>
                        (Đánh giá:
                        <div class="rateit" id="rateit11">
                        </div>

                        5 sao)
                    </p>
                    <p><strong>Ngày đăng:</strong> @Html.DisplayFor(model => model.ItemDate)</p>
                    <p><strong>Tình trạng:</strong> Mới 95%</p>
                    <p><strong>Hãng sản xuất:</strong> <span style="font-weight: bold; color: green;">@Html.DisplayFor(model => model.ItemManufacturer)</span></p>
                    <p><strong>Giá bán: </strong> <span style="font-weight: bold; color: red;">@Model.ItemPrice.ToString("#,### vnd")</span ></ p >
                    <p>
                        <strong>Ghi chú:</strong> @Model.ItemDescription...
                        <a href="#">Xem thêm</a>
                    </p>
                    <p><strong>Tôi muốn:</strong></p>
                    <p>
                        @if (Model.ItemType == 2)
                        {
                            if (Model.CanTrade)
                            {
                                <a href="#" class="btn btn-success" role="button" data-toggle="modal" onclick="Item[@Model.ItemId].initRequest('mua');">Mua</a>
                            }
                            if (Model.CanExchange)
                            {
                                <a href="#" class="btn btn-primary" role="button" data-toggle="modal" onclick="Item[@Model.ItemId].initRequest('doi');">Đổi</a>
                            }
                            if (Model.CanGiveAway)
                            {
                                <a href="#" class="btn btn-warning" role="button" data-toggle="modal" onclick="Item[@Model.ItemId].initRequest('xin');">Xin</a>
                            }
                        }
                        else
                        {
                            if (Model.CanTrade)
                            {
                                <a href="#" class="btn btn-danger margin-right5" role="button" onclick="Item[@Model.ItemId].initRequest('ban');">Bán</a>}
                            if (Model.CanExchange)
                            {
                                <a href="#" class="btn btn-primary margin-right5" role="button" onclick="Item[@Model.ItemId].initRequest('doi');">Đổi</a>}
                            if (Model.CanGiveAway)
                            {
                                <a href="#" class="btn btn-default" role="button" onclick="Item[@Model.ItemId].initRequest('cho');">Cho</a>}
                        }
                    </p>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
    </div>
    @if (ViewBag.InterestingItems.Count > 0)
    {
        <div class="container">
            <div class="main box-border suggested" style="margin: 0px 0px 50px 0px;">
                <h4 style="padding: 30px;">
                    Bạn muốn trao đổi? Xem thử những sản phẩm này nhé
                </h4>
                <div style="margin-top: 10px; padding: 10px 0px 0px 50px;">
                    <ul class="list-inline">
                        @foreach (var item in ViewBag.InterestingItems)
                        {
                            <li style="width: 150px; padding: 10px 20px;">

                                <a href="/items/details/@item.ItemId" style="cursor: pointer; ">
                                    @if (item.Images != null && item.Images.Count > 0)
                                    {
                                        <img src="~/uploads/@item.Images[0].ImagePath" alt="" style="width: 150px;">
                                    }
                                </a>
                                <a href="/items/details/@item.ItemId" style="cursor: pointer;">@item.ItemTitle</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
<script>
    Item[@Model.ItemId] = new Item(@Model.ItemId, @Model.ItemType, "@Model.ItemOwner", "");
</script>
<div id="myModalMua" class="modal fade in" role="dialog" aria-hidden="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p><strong>Vui lòng để lại lời nhắn với <a href="#" id="myModalMuaUser">Lâm Đắc Ngô</a> để <span id="lblRequestType"></span> món đồ này:</strong></p>
                <br>
                <br>
                <textarea class="form-control" style="height: 100px; max-width: none;" id="txtMessage"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnGuiTinNhan">Gửi tin nhắn</button>
            </div>
        </div>

    </div>
</div>
<script>
    GlobalConstant.CreateRequestItemActionURL = '@Url.Action("CreateRequest", "Items")';
</script>