@model IEnumerable<vnexchange1.Models.Item>
@using vnexchange1.Data;
@{
    ViewData["Title"] = "Danh muc";
}

<h2>   
    @ViewBag.Category    
</h2>
@if (Model.Count() == 0)
{
    <p>Chưa có thông tin</p>
}
<p>
    @if (User.Identity.IsAuthenticated)
    {<a asp-action="Create">Đăng tin</a>}
</p>
<div class="col-md-12">
    <div class="well well-lg offer-box text-center" style="">
        <form class="navbar-form" role="search">
            <div class="form-group">
                <input placeholder="Từ Khóa..." class="form-control" type="text">
            </div>
            <div class="form-group">
                <input placeholder="TP Hồ Chí Minh..." class="form-control" type="text">
            </div>
            <div class="form-group">
                <div class="btn-group">
                    <button type="button" id="cboCategories" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span id="spanCategoryText">Quần áo nữ</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="listCategories">
                        <li><a href="index1.html">Tất cả danh mục</a></li>
                        <li class="divider"></li>
                        <li><a href="index1.html?danh-muc=1">Đồ Chơi Trẻ Em</a></li>
                        <li class="divider"></li>
                        <li><a href="index1.html?danh-muc=2">Quần áo nữ</a></li>
                        <li class="divider"></li>
                        <li><a href="index1.html?danh-muc=3">Phụ kiện</a></li>
                        <li class="divider"></li>
                        <li><a href="index1.html?danh-muc=4">Đồ dùng gia đình</a></li>
                        <li class="divider"></li>
                        <li><a href="index1.html?danh-muc=5">Quần áo trẻ em</a></li>
                        <li class="divider"></li>
                        <li><a href="index1.html?danh-muc=6">Đồ dùng nam</a></li>
                        <li class="divider"></li>
                        <li><a href="index1.html?danh-muc=7">Sách và tạp chí</a></li>
                        <li class="divider"></li>
                        <li><a href="index1.html?danh-muc=8">Đồ trang điểm</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        Tất cả
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);" onclick="showAllItems(this);">Tất cả</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" onclick="showDesiredItems(this);">Cần</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" onclick="showAvailableItems(this);">Có</a></li>
                    </ul>
                </div>
            </div>
            <button type="submit" class="btn btn-warning">Tìm</button>
        </form>


    </div>
    <div class="main box-border">
        <div id="mi-slider" class="mi-slider">
            <ul class="mi-moveToLeft">
                <li style="">
                    <a href="chi-tiet.html?san-pham=cknude">
                        <img src="img/cknude1.jpg" alt="img01">
                        <h4>Giày cao gót Charles &amp; Keith, hồng nude chính hãng</h4>
                    </a>
                    <span style="color: red; font-weight: bold; display: block;"><span style="color: grey;">Cũ</span> - 3.200.000</span>
                    <span style="font-weight: bold;"><a href="#" style="display: inline;">Ngô Đắc Lâm</a> - <span>Tân Bình</span></span>
                </li>
                <li>
                    <a href="chi-tiet.html?san-pham=rayban">
                        <img src="assets/ItemSlider/images/7.jpg" alt="img01">
                        <h4>Cần đổi lấy kính Police loại tương tự</h4>
                    </a>
                    <span style="color: grey; display: block;">Cũ - 95%</span>
                    <span style="font-weight: bold;"><a href="#" style="display: inline;">Phúc Hà</a> - <span>Bình Thạnh</span></span>
                </li>
                <li>
                    <a href="#">
                        <img src="img/car.jpg" alt="img01">
                        <h4>Xe đua mô hình Kidoozie dành cho trẻ em</h4>
                    </a>
                    <span style="color: red; font-weight: bold; display: block;"><span style="color: grey;">Cũ</span> - 490.000</span>
                    <span style="font-weight: bold;"><a href="#" style="display: inline;">Little Girl</a> - <span>Tân Bình</span></span>
                </li>
                <li>
                    <a href="chi-tiet.html?san-pham=converse">
                        <img src="img/converse1.jpg" alt="img04"><h4>Cần tìm giày hiếm như hình, mua giá cao hoặc đổi Wave tàu 150cc</h4>
                    </a>
                    <span style="font-weight: bold;"><a href="chi-tiet.html?san-pham=converse" style="display: inline;">Lệ Rơi</a> - <span>Tuyên Quang</span></span>
                </li>
            </ul>
            <ul class="mi-moveFromRight mi-current">
                <li>
                    <a href="#">
                        <img src="assets/ItemSlider/images/5.jpg" alt="img05"><h4>Tommny Belt, size 7"</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/ItemSlider/images/6.jpg" alt="img06"><h4>Winter hood, from my daddy</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/ItemSlider/images/7.jpg" alt="img07"><h4>Rayban aviator, just like new</h4>
                    </a>
                </li>
                <li style="">
                    <a href="#">
                        <img src="assets/ItemSlider/images/8.jpg" alt="img08"><h4>Scarves</h4>
                    </a>
                </li>
            </ul>
            <ul class="mi-moveToRight">
                <li>
                    <a href="#">
                        <img src="assets/ItemSlider/images/9.jpg" alt="img09"><h4>Casual</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/ItemSlider/images/10.jpg" alt="img10"><h4>Luxury</h4>
                    </a>
                </li>
                <li style="">
                    <a href="#">
                        <img src="assets/ItemSlider/images/11.jpg" alt="img11"><h4>Sport</h4>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="assets/ItemSlider/images/12.jpg" alt="img12"><h4>Carry-Ons</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/ItemSlider/images/13.jpg" alt="img13"><h4>Duffel Bags</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/ItemSlider/images/14.jpg" alt="img14"><h4>Laptop Bags</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/ItemSlider/images/15.jpg" alt="img15"><h4>Briefcases</h4>
                    </a>
                </li>
            </ul>
            <nav id="navSlider">
                <a href="#" class="">Nổi bật</a>
                <a href="#" class="mi-selected">Hàng hiếm</a>
                <a href="#" class="">Mới đăng</a>
            </nav>
        </div>

    </div>
    <br>
</div>
<div class="exchange-product">
    @foreach (var item in Model)
            {
        @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemManufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanExchange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanGiveAway)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanTrade)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
                </td>
            </tr>*@
        <div class="col-md-12 product" style="width: 100%; clear: both;">
            <div class="col-md-3 nopadding product image-container">
                <div class="product indicator">
                    <img src="img/money.png">
                    <img src="img/swap.png">
                    <img src="img/binocular.png">
                    <img src="img/give.png">
                </div>
                @if (item.Images != null && item.Images.Count > 0)
                {
                    <img src="~/uploads/@item.Images.First().ImagePath" alt="" style="border: 1px solid #e1e1e1; float: left;">
                }
                <img src="~/img/default.jpg" alt="" style="border: 1px solid #e1e1e1; float: left;">
            </div>
            <div class="col-md-9 caption" style="float: left;">
                <h3 style="margin: 0px 0px 5px 0px"><a href="~/items/details/@item.ItemId">@item.ItemTitle</a></h3>
                <p>@item.ItemDescription...<a>Xem thêm</a></p>
                <p style="font-weight: bold;">Giá : <strong style="color: red;">@item.ItemPrice</strong></p>
                <p style="font-weight: bold;"><a href="#">@User.Identity.Name</a> - @item.ItemLocation</p>
                <p>
                    @if (item.ItemType == 1)
                    {
                        if (item.CanTrade)
                        {<a href="#" class="btn btn-success margin-right5" role="button">Mua</a>}
                        if (item.CanExchange)
                        {<a href="#" class="btn btn-primary margin-right5" role="button">Đổi</a>}
                        if (item.CanGiveAway)
                        {<a href="#" class="btn btn-warning" role="button">Xin</a>}
                    }
                    else
                    {
                        if (item.CanTrade)
                        {<a href="#" class="btn btn-danger margin-right5" role="button">Bán</a>}
                        if (item.CanExchange)
                        {<a href="#" class="btn btn-primary margin-right5" role="button">Đổi</a>}
                        if (item.CanGiveAway)
                        {<a href="#" class="btn btn-default" role="button">Cho</a>}
                    }
                </p>
            </div>
        </div>
    }
</div>
<script>
    

</script>
