@model IEnumerable<vnexchange1.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ItemTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemOwner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemManufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CanExchange)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CanGiveAway)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CanTrade)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemManufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanExchange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanGiveAway)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanTrade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
