@model List<ItemMessageViewModel>
@using vnexchange1.ViewModels;
<div class="exchange-product">
    @for (var i = 0; i < Model.Count(); i++)
    {
        <div class="col-md-12 product" style="width: 100%; clear: both; padding-left: 50px; padding-top: 20px;">
            <p><span>Người gửi: </span><a class="bold" onclick="ItemRequest[@Model[i].ItemID].onclick();" href="javascript:void(0);">@Model[i].RequestorID</a></p>
            <p><span>Tin: </span><a class="bold" href="/items/details/@Model[i].ItemID">@Model[i].Item.ItemTitle</a></p>
            <p><span>Nội dung: </span><span class="italic bold">@Model[i].Message</span></p>
        </div>
        <script>
            ItemRequest[@Model[i].ItemID] = new ItemRequest('@Model[i].ItemID', '@Model[i].RequestorID', '@Model[i].Email');
        </script>
    }
</div>
<div id="myModalUserInformation" class="modal fade in" role="dialog" aria-hidden="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p><strong>Vui lòng liên lạc với <a href="#" id="myModalUser"></a> thông qua email sau <a id="linkEmail" href=""></a></strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnDong">Đóng</button>
            </div>
        </div>

    </div>
</div>
