@await Html.PartialAsync("_PagingPartial")
<br />
<br />
<div class="exchange-product">    
    @foreach (var item in Model)
    {
        <div class="col-md-12 product" style="width: 100%; clear: both;">
            <div class="col-md-3 nopadding product image-container">
                <div class="product indicator">
                    <img src="~/img/money.png">
                    <img src="~/img/swap.png">
                    <img src="~/img/binocular.png">
                    <img src="~/img/give.png">
                </div>
                @if (item.Images != null && item.Images.Count > 0)
                {
                    <img src="~/uploads/@item.Images[0].ImagePath" alt="" style="border: 1px solid #e1e1e1; float: left;">
                }
            </div>
            <div class="col-md-9 caption" style="float: left;">
                <h3 style="margin: 0px 0px 5px 0px"><a href="~/items/details/@item.ItemId">@item.ItemTitle</a></h3>
                <p>@item.ItemDescription...<a>Xem thêm</a></p>
                <p style="font-weight: bold;">Giá : <strong style="color: red;">@item.ItemPrice.ToString("#,### vnd")</strong></p>
                <p style="font-weight: bold;"><a href="#">@item.ItemOwner</a> - @item.ItemLocation</p>
                <p>
                    @if (item.ItemType == 1)
                    {
                        if (item.CanTrade)
                        {<a href="javascript:void(0);" class="btn btn-success margin-right5" role="button" onclick="Item[@item.ItemId].initRequest('mua');">Mua</a>}
                        if (item.CanExchange)
                        {<a href="javascript:void(0);" class="btn btn-primary margin-right5" role="button" onclick="Item[@item.ItemId].initRequest('doi');">Đổi</a>}
                        if (item.CanGiveAway)
                        {<a href="javascript:void(0);" class="btn btn-warning" role="button" onclick="Item[@item.ItemId].initRequest('xin');">Xin</a>}
                    }
                    else
                    {
                        if (item.CanTrade)
                        {<a href="javascript:void(0);" class="btn btn-danger margin-right5" role="button" onclick="Item[@item.ItemId].initRequest('ban');">Bán</a>}
                        if (item.CanExchange)
                        {<a href="javascript:void(0);" class="btn btn-primary margin-right5" role="button" onclick="Item[@item.ItemId].initRequest('doi');">Đổi</a>}
                        if (item.CanGiveAway)
                        {
                            <a href="javascript:void(0);" class="btn btn-default" role="button" onclick="Item[@item.ItemId].initRequest('cho');">Cho</a>
                        }
                    }
                </p>
            </div>
        </div>
        <script>
            Item[@item.ItemId] = new Item(@item.ItemId, @item.ItemType, "@item.ItemOwner", "");
        </script>
    }    
</div>
<div id="myModalMua" class="modal fade in" role="dialog" aria-hidden="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p><strong>Vui lòng để lại lời nhắn với <a href="#" id="myModalMuaUser">Lâm Đắc Ngô</a> để <span id="lblRequestType"></span> món đồ này:</strong></p>
                <br>                
                <br>
                <textarea class="form-control" style="height: 100px; max-width: none;" id="txtMessage"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnGuiTinNhan">Gửi tin nhắn</button>
            </div>
        </div>

    </div>
</div>
<div id="myModalXin" class="modal fade in" role="dialog" aria-hidden="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Yêu cầu xin đồ</h4>
            </div>
            <div class="modal-body">
                <p>
                </p><p><strong>Gửi lời nhắn cho <a>Lâm Ngô</a></strong></p>
                <br>
                <input class="form-control" style="height: 100px;" type="textarea">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>
<script>
    GlobalConstant.CreateRequestItemActionURL = '@Url.Action("CreateRequest", "Items")';    
</script>
<br />
<br />
@await Html.PartialAsync("_PagingPartial")