@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using System.Globalization;
<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-W3QDN8J');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tôi Cần - Bạn Có </title>
    <script src="~/assets/js/jquery-1.10.2.js"></script>
    @*<script src="~/assets/js/bootstrap.js"></script>*@
    <!--Slider JavaScript file  -->
    <script src="~/assets/ItemSlider/js/modernizr.custom.63321.js"></script>    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true"/>
        <link href="~/assets/css/bootstrap.css" rel="stylesheet">
        <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
        <link href="~/assets/ItemSlider/css/main-style.css" rel="stylesheet" />
        <!-- Favicon -->
        <link rel="shortcut icon" href="~/images/favicon.ico" asp-append-version="true">

        <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="~/assets/css/bootstrap.css" rel="stylesheet" asp-append-version="true">        
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <!-- Font Awesome CSS -->        

        <!-- Plugins -->
        <link href="~/css/animations.css" rel="stylesheet" asp-append-version="true">

        <!-- Worthy core CSS file -->
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">

        <!-- Custom css -->
        <link href="~/css/custom.css" rel="stylesheet" asp-append-version="true">                      
        <link href="~/css/rateit.css" rel="stylesheet" asp-append-version="true"/>
        <!--bootstrap JavaScript file  -->
        
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <!-- Favicon -->
        <link rel="shortcut icon" href="~/images/favicon.ico" asp-append-version="true">

        <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="~/assets/css/bootstrap.css" rel="stylesheet" asp-append-version="true">
        <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <!-- Font Awesome CSS -->
        <!-- Plugins -->
        <link href="~/css/animations.css" rel="stylesheet" asp-append-version="true">

        <!-- Worthy core CSS file -->
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">

        <!-- Custom css -->
        <link href="~/css/custom.css" rel="stylesheet" asp-append-version="true">
        <link href="~/assets/ItemSlider/css/main-style.css" rel="stylesheet" />

        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>*@


        <link href="~/css/rateit.css" rel="stylesheet" asp-append-version="true" />
        
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)    
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top dn">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">toicanbanco.com</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @await Html.PartialAsync("_LoginPartial")
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Giới thiệu</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
                </ul>                
            </div>
        </div>
    </nav>
    <!-- header start -->
    <!-- ================ -->
    <header class="header fixed clearfix navbar navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-2">

                    <!-- header-left start -->
                    <!-- ================ -->
                    <div class="header-left clearfix">

                        <!-- logo -->
                        <div class="logo smooth-scroll">                            
                            <a asp-area="" asp-controller="Home" asp-action="Index"><img id="logo" src="~/images/toicanbanco.png" alt="toicanbanco.com" style="height: 80px;"></a>
                        </div>

                        <!-- name-and-slogan -->
                        <div class="site-name-and-slogan smooth-scroll" style="display: none;">
                            <div class="site-name"><a href="#banner">toicanbanco.com</a></div>
                            <div class="site-slogan">Khám phá, trao đổi, mua bán đồ cũ theo cách dễ dàng nhất</div>
                        </div>

                    </div>
                    <!-- header-left end -->

                </div>
                <div class="col-md-10">

                    <!-- header-right start -->
                    <!-- ================ -->
                    <div class="header-right clearfix">

                        <!-- main-navigation start -->
                        <!-- ================ -->
                        <div class="main-navigation animated">

                            <!-- navbar start -->
                            <!-- ================ -->
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">

                                    <!-- Toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                        @*<ul class="nav navbar-nav navbar-right">
                                            <li><a href="login.html">Đăng nhập</a></li>
                                            <li><a href="#portfolio">Đăng ký</a></li>
                                            <li><a href="#about">Thông tin</a></li>
                                        </ul>*@
                                        <ul class="nav navbar-nav navbar-right">            
                                            <li style="margin-top: 20px;"><input id="txtSearchBox" type="text" placeholder="Từ khóa..." class="fl form-control" style="height:35px;" /></li>

                                            @await Html.PartialAsync("_LoginPartial")
                                            @*<li><a asp-area="" asp-controller="Home" asp-action="About">Giới thiệu</a></li>
                                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a></li>*@
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li><a href="~/items/create">Đăng Tin</a></li>
                                            }
                                        </ul>
                                        
                                    </div>

                                </div>
                            </nav>
                            <!-- navbar end -->

                        </div>
                        <!-- main-navigation end -->

                    </div>
                    <!-- header-right end -->

                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - toicanbanco.com</p>
        </footer>
    </div>

    @*<environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>*@

    @RenderSection("Scripts", required: false)     
    <script src="~/assets/js/jquery-1.10.2.js"></script>
    <!--bootstrap JavaScript file  -->
    <script src="~/assets/js/bootstrap.js"></script>
    <!--Slider JavaScript file  -->
    <script src="~/assets/ItemSlider/js/modernizr.custom.63321.js"></script>
    <script src="~/assets/ItemSlider/js/jquery.catslider.js"></script>     
    @*<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>*@
    <script type="text/javascript">

        $@*("#txtSearchBox").keypress(function (e) {
            if (e.which == 13) {
                var url = '@Url.Action("SearchItem", "Items")';
                var searchText = $(this).val();
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        searchText: searchText
                    },
                    datatype: 'json',
                    ContentType: 'application/json;utf-8'
                }).done(function (resp) {
                    //window.location.href = "/items/all";
                }).error(function (err) {
                    alert("Error " + err.status);
                });
            }
            //return false;
        });*@

        // Read a page's GET URL variables and return them as an associative array.
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
        function switchSlider() {
            setTimeout(function () {
                var nextTab = $("#navSlider a.mi-selected").next();
                if (!nextTab[0]) {
                    nextTab = $("#navSlider a:first");
                }
                nextTab.click();
                switchSlider();
            }, 5000);
        };

        function search(object)
        {
            var search = $(object).val();
            window.location.href = "/items/search/" + search;
        };

        function advanceSearch() {
            var advanceSearchText = $("#txtAdvanceSearchText").val();
            advanceSearchText = advanceSearchText == "" ? "all" : advanceSearchText;
            var location = $("#cboLocations input[type='hidden']").val();
            var itemType = $("#cboItemTypes input[type='hidden']").val();
            var category = $("#cboCategories input[type='hidden']").val();
            var itemPerPage = $("#cboItemPerPage input[type='hidden']").val();

            window.location.href = "/items/search/" + advanceSearchText + "/" + location + "/" + category + "/" + itemType + "/1/" + itemPerPage;
        };

        $(function () {

            $('#mi-slider').catslider();
            //switchSlider();
            $('#txtSearchBox').keypress(function (e) {
                if (e.which == 13) {
                    search(this);
                }
            });

            //$('#txtAdvanceSearchText').keypress(function (e) {
            //    if (e.which == 13) {
            //        advanceSearch();
            //    }
            //});

            $("#listCategories").on('click', 'li a', function () {
                $("#cboCategories #spanCategoryText").text($(this).text());
                $("#cboCategories input[type='hidden']").val($(this).attr("id"));
            });

            $("#listLocations").on('click', 'li a', function () {
                $("#cboLocations #spanLocationText").text($(this).text());
                $("#cboLocations input[type='hidden']").val($(this).attr("id"));
            });

            $("#listItemTypes").on('click', 'li a', function () {
                $("#cboItemTypes #spanItemTypeText").text($(this).text());
                $("#cboItemTypes input[type='hidden']").val($(this).attr("id"));
            });

            $("#listItemPerPage").on('click', 'li a', function () {
                $("#cboItemPerPage #spanItemPerPageText").text($(this).text());
                $("#cboItemPerPage input[type='hidden']").val($(this).attr("id"));
            });

            var searchText = "@ViewBag.SearchText";
            $("#txtAdvanceSearchText").val(searchText == "all" ? "" : searchText);

            var locationID = "@ViewBag.LocationID";
            var locationText = $("#listLocations a[id='" + locationID + "']").text();
            $("#cboLocations #spanLocationText").text(locationText);

            var itemTypeID = "@ViewBag.ItemTypeID";
            var itemTypeText = $("#listItemTypes a[id='" + itemTypeID + "']").text();
            $("#cboItemTypes #spanItemTypeText").text(itemTypeText);

            var categoryID = "@ViewBag.CategoryID";
            var categoryText = $("#listCategories a[id='" + categoryID + "']").text();
            $("#cboCategories #spanCategoryText").text(categoryText);

            var itemPerPage = "@ViewBag.ItemPerPage";
            var itemPerPageText = $("#listItemPerPage a[id='" + itemPerPage + "']").text();
            $("#cboItemPerPage #spanItemPerPageText").text(itemPerPageText);
        });
    </script>
</body>
</html>
