@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="@ViewBag.Action"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Trang trước
</a>
@foreach (var page in ViewBag.Pages)
{
    if (Model.PageIndex == page)
    {
        <a asp-action="@ViewBag.Action"
           asp-route-page="@(page)"
           class="btn btn-default paging disabled">
            @page
        </a>
    }
    else //if(page <= Model.PageIndex + 2 - (Model.PageIndex - 3))
    {
        <a asp-action="@ViewBag.Action"
           asp-route-page="@(page)"
           class="btn btn-default paging">
            @page
        </a>
    }

}
<a asp-action="@ViewBag.Action"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Trang sau
</a>