@using Microsoft.AspNetCore.Identity
@using vnexchange1.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div id="mi-slider" class="mi-slider">
    <ul>
        @foreach (var item in ViewBag.CarouselHighlightItems)
        {
            <li>
                <a href="/items/details/@item.ItemID">
                    <img src="/uploads/@item.ItemImage" alt="@item.ItemImage"/>
                    <h4>@item.ItemTitle</h4>
                </a>
                <span style="color: red; font-weight: bold; display: block;"><span style="color: grey;">@item.ItemStatus</span> - @item.ItemPrice.ToString("#,### vnd")</span>
                <span style="font-weight: bold;"><a href="#" style="display: inline;">@item.ItemOwner</a> - <span>@item.ItemLocation</span></span>
            </li>
        }
    </ul>
    <ul>
        @foreach (var item in ViewBag.CarouselHighlightItems)
        {
            <li>
                <a href="/items/details/@item.ItemID">
                    <img src="/uploads/@item.ItemImage" alt="@item.ItemImage"/>
                    <h4>@item.ItemTitle</h4>
                </a>
                <span style="color: red; font-weight: bold; display: block;"><span style="color: grey;">@item.ItemStatus</span> - @item.ItemPrice.ToString("#,### vnd")</span>
                <span style="font-weight: bold;"><a href="#" style="display: inline;">@item.ItemOwner</a> - <span>@item.ItemLocation</span></span>
            </li>
        }
    </ul>
    <ul>
        @foreach (var item in ViewBag.CarouselHighlightItems)
        {
            <li>
                <a href="/items/details/@item.ItemID">
                    <img src="/uploads/@item.ItemImage" alt="@item.ItemImage"/>
                    <h4>@item.ItemTitle</h4>
                </a>
                <span style="color: red; font-weight: bold; display: block;"><span style="color: grey;">@item.ItemStatus</span> - @item.ItemPrice.ToString("#,### vnd")</span>
                <span style="font-weight: bold;"><a href="#" style="display: inline;">@item.ItemOwner</a> - <span>@item.ItemLocation</span></span>
            </li>
        }
    </ul>    
    <nav id="navSlider">
        <a href="#">Nổi bật</a>
        <a href="#">Hàng hiếm</a>
        <a href="#">Mới đăng</a>
    </nav>
</div>